

<div id="treeNodes">
  <div id="description">
    <!--I've implemented a basic filter, local storage, and the tree.-->
    <h4>Categories</h4>
  </div>
  <ng-container *ngFor="let nodeId of ref.Tree.Roots">

    <app-node [node]="ref.Tree.Nodes[nodeId]"></app-node>


  </ng-container>
</div>
<div style="display: flex; justify-content: space-around; margin-top:10vh;">
  <div><button mat-flat-button color="primary" (click)="newNode()" class="e3-button"><i class="material-icons add-icon">add</i>Add Root Node </button></div>
  <div><button mat-flat-button color="accent" (click)="saveNodes()" class="e3-button"><i class="material-icons add-icon">save</i>Save Tree</button></div>

</div>

<div id="filterBox">
  <form (ngSubmit)="this.ref.filter(filter.name, filter.depth)">

    <mat-form-field style="width: 40%;">
      <input name="name" matInput type="text" placeholder="Category" [(ngModel)]="filter.name" />
    </mat-form-field>


    <mat-form-field style="width: 40%; margin-left:20%;" matTooltip="If the depth is 0 or less, then all nodes are shown and editable." matTooltipPosition="above" matTooltipShowDelay="2000" matTooltipHideDelay="1000">

      <input name="maxDepth" matInput type="number" placeholder="Maximum N-Depth" [(ngModel)]="filter.depth" />
    </mat-form-field>


    <button mat-flat-button style="width: 100%" color="accent" (click)="this.ref.filter(filter.name, filter.depth)">Filter Tree</button>
  </form>
  
</div>
